Flask==3.0.3
gunicorn==23.0.0

google-auth==2.35.0
google-auth-oauthlib==1.2.1
google-auth-httplib2==0.2.0
google-api-python-client==2.151.0

# Upgrade pip before install (Render runs this automatically)
pip>=25.3
